<nav class=" mx-5">
    <div class="navbar py-1 flex justify-between items-center">
        <span>
            <img  src="../../../assets/logo.png" alt="" width="200" class="cursor-pointer" routerLink="/">
        </span>

        <div>
            <ul class="flex text-lg tracking-wider gap-4">
                <li>
                    <a routerLink="/listaprodutos" class="hover:text-blue-600">Home</a>
                </li>
                <li>
                    <a routerLink="/produtos" class="hover:text-blue-600">Administrador</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<hr class="shadow-lg">
